specs/3.1/schemas/SDMXStructureDataflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright SDMX 2025 - http://www.sdmx.org -->
<xs:schema targetNamespace="http://www.sdmx.org/resources/sdmxml/schemas/v3_1/structure"
			xmlns="http://www.sdmx.org/resources/sdmxml/schemas/v3_1/structure"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v3_1/common"
			xmlns:structure="http://www.sdmx.org/resources/sdmxml/schemas/v3_1/structure"
			elementFormDefault="qualified">

	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v3_1/common" schemaLocation="SDMXCommon.xsd"/>

	<xs:include schemaLocation="SDMXStructureBase.xsd"/>

	<xs:annotation>
		<xs:appinfo>SDMX Dataflow Structure Module</xs:appinfo>
		<xs:documentation>The dataflow structure module defines the structure of dataflow constructs.</xs:documentation>
	</xs:annotation>

	<xs:complexType abstract="true" name="DataflowBaseType">
		<xs:annotation>
			<xs:documentation>Extends StructureUsageType by adding a DimensionConstraint.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StructureUsageType">
				<xs:sequence>
					<xs:element name="DimensionConstraint" type="DimensionConstraintType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Required when the referenced Data Structure can change Dimensionality under a minor version change.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DataflowType">
		<xs:annotation>
			<xs:documentation>DataflowType describes the structure of a data flow. Using a DimensionConstraint and/or a DataConstraint a data flow can define a subset of data defined by a DataStructure. Unless the dataflow artefact is defined externally, a reference to a DataStructure must be provided.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="DataflowBaseType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element ref="common:Link" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="common:Name" maxOccurs="unbounded"/>
					<xs:element ref="common:Description" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Structure" type="common:DataStructureReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Structure provides a reference to the data structure definition that frames the underlying structure of the data defined this data flow.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DimensionConstraint" type="DimensionConstraintType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Required if the DataStructure defines itself as an evolving structure, indicating that it can change dimensionality under a minor version change, and if the Dataflow references that DataStructure using a wildcarded minor version number. New minor DSD version can so still be used by this Dataflow even if that DSD version defines new additional Dimensions.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="urn" type="common:DataflowUrnType" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DimensionConstraintType">
		<xs:annotation>
			<xs:documentation>Specifies the fixed list of Dimensions (by ID) to which a Dataflow may be constrained. This is a required property if the DataStructure defines itself as an evolving structure, indicating that it can change dimensionality under a minor version change, and if the Dataflow references that DataStructure using a wildcarded minor version number. New minor DSD version can so still be used by this Dataflow even if that DSD version defines new additional dimensions. Dimensions not listed should not be used in Datasets for this Dataflow. The Time Dimension is not to be listed, as it is always to be used when defined in the DSD, and it cannot be added to a DSD without increasing its major version.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dimension" type="common:IDType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
